@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Milonga&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Flow+Rounded&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300&display=swap'); */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Source Sans Pro';
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Milonga';
  margin-bottom: 0.5rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

hr {
  margin: 0.5rem auto;
  max-width: 80%;
}

p {
  margin-bottom: 0.5rem;
}

.barred {
  background: black;
  color: black;
  transition: all 0.4s ease-in;
}

.barred:hover,
.barred:focus,
.barred:active {
  background: white;
  transition: all 0.2s ease-out;
}

.bar-group:hover>*,
.bar-group:focus>*,
.bar-group:active>* {
  background: white;
}
